
			

						  <!-- Panels -->
<div class="admin">
 						 <!-- Panel Left -->

			<div class="panel panel-default">
  <div class="panel-body">
    	<%= image_tag("customtat.jpg", :class => "panelimage") %>
  </div>
  <div class="panel-footer">
  	<span class="fa fa-caret-left"> </span>
<a class="modals" href="#" data-toggle="modal" data-target="#myModal" >
	Custom Tattoo Designer
	 </a>
	 	 <span class="fa fa-caret-right"></span>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Custom Tattoo Designer</h4>
      </div>
      <div class="modal-body">
  	<h5>CUSTOM TATTOO DESIGNER IN PANAMA CITY BEACH, FL</h5>    
<p>It has been said that beauty is in the eye of the beholder and we could not agree more. Every tattooist has their own unique style, just as every client has their own tastes and preferences when it comes to design. We recognize that the art of tattooing is innately personal which is why at Gulf Coast Professional Tattoo we strive to design a custom tattoo that you will love.</p>

<h5>FROM CONCEPT TO CONSTRUCT</h5>

<p>We truly believe in personal expression; it is at the core of what we do as tattoo designers. At Gulf Coast Professional Tattoo you will have the ability to work with an individual on our team on a one-on-one basis. We'll spend the time listening to your concept and work to create your distinctive design. Our goal is to take your thoughts and turn it into something tangible.</p>

<p>Let Gulf Coast Professional Tattoo help to make your vision come alive. Call our Panama City Beach, FL studio today to make your idea a reality.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div></div>

</div>

  						<!-- Panel Center -->


			<div class="panel panel-default">
  <div class="panel-body">
    	<%= image_tag("customtat.jpg", :class => "panelimage") %>
  </div>

  <div class="panel-footer">
  	  	<span class="fa fa-caret-left"> </span>

<a class="modals" href="#" data-toggle="modal" data-target="#myModal2" >
		 Tattoo Cover Up 
	 </a>	 <span class="fa fa-caret-right"></span>


<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">TATTOO COVER UP IN PANAMA CITY BEACH, FL</h4>
      </div>
      <div class="modal-body">
        
<p>If you have a bad or embarrassing tattoo, let Gulf Coast Professional Tattoo make it right again. Our highly experienced artists specialize in tattoo cover ups. We've earned a stellar reputation in Panama City Beach, FL, by working hard to make sure every customer is pleased with our work.</p>

<p>Covering a tattoo correctly requires special skills, and we're fully equipped to handle almost any job. We use cutting-edge methods and technologies.</p> 

<ul> You can count on us to provide:
<li>Great customer service</li>
<li>Attention to detail</li>
<li>Quick responses to your questions or concerns</li>
</ul>
At Gulf Coast Professional Tattoo, we understand how difficult it is to have unattractive body art. We'll provide individualized attention to make sure you get exactly the tattoo you want. We offer free estimates on all our work, and you can always depend on us to give professional service. For a tattoo cover up, give us a call. We serve clients from Panama City Beach and the surrounding areas.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div></div>
</div>


  						<!-- Panel Right -->

<div class="panel panel-default">
  <div class="panel-body">
    	<%= image_tag("customtat.jpg", :class => "panelimage") %>
  </div>
  <div class="panel-footer">
  		<!-- Button trigger modal -->
  	<span class="fa fa-caret-left"> </span>

<a class="modals" href="#" data-toggle="modal" data-target="#myModal3" >
		Piercings
	 </a>
	 <span class="fa fa-caret-right"></span>


<!-- Modal -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       
      </div>
    </div>
  </div>
</div></div>
</div>
</div>

